<%- include("./partials/header") %>

    <%- include("./partials/navbar") %>


        <div class="container">
            <div class="row mt-5">
                <div class="col mb-5">
                    <h1 class="display-4">Register new debt</h1>
                </div>
            </div>
            <form action="/registrar" method="POST">
                <div class="row mb-2">
                    <div class="col-md-2">
                        <select class="form-control" name="year">
                    <option value="">Year</option>
                    <option value="2018">2018</option>
                    <option value="2019">2019</option>
                    <option value="2020">2020</option>
                </select>
                    </div>

                    <div class="col-md-2">
                        <select class="form-control" name="month">
                    <option value="">Month</option>
                    <option value="1">January</option>
                    <option value="2">February</option>
                    <option value="3">March</option>
                    <option value="4">April</option>
                    <option value="5">May</option>
                    <option value="6">June</option>
                    <option value="7">July</option>
                    <option value="8">August</option>
                    <option value="9">September</option>
                    <option value="10">October</option>
                    <option value="11">November</option>
                    <option value="12">December</option>
                </select>
                    </div>

                    <div class="col-md-2">
                        <input type="text" class="form-control" placeholder="Day" name="day">
                    </div>

                    <div class="col-md-6">
                        <select class="form-control" name="type">
                    <option value="">Type</option>
                    <option value="1">Food</option>
                    <option value="2">Education</option>
                    <option value="3">Recreation</option>
                    <option value="4">Health</option>
                    <option value="5">Transport</option>
                </select>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-8">
                        <input type="text" class="form-control" placeholder="Description" name="description">
                    </div>

                    <div class="col-md-2">
                        <input type="text" class="form-control" placeholder="Value" name="value">
                    </div>
                </div>
                <br>
                <hr>
                <button type="submit" class="btn btn-primary">
                    <h3>Register</h3>
                </button>

            </form>
        </div>


        <%- include("./partials/footer") %>